@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --golden-yellow: #dbb03f;
  --deep-golden: #c98a2a;
  --parchment: #f3e9d7;
  --dark-tan: #9f6a25;
  --soft-yellow: #e4c574;
  --paper: #fcf5e5;

  
  /* Dark theme as default */
  --background: var(--paper);
  --foreground: var(--dark-tan);
  --accent: var(--golden-yellow);
  --accent-hover: var(--soft-yellow);
  --muted: var(--deep-golden);
}

@layer base {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-accent-hover: var(--accent-hover);
    --color-muted: var(--muted);
    --font-sans: var(--font-inter);
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: var(--paper);
      --foreground: var(--dark-tan);
      --accent: var(--golden-yellow);
      --accent-hover: var(--deep-golden);
      --muted: var(--soft-yellow);
    }
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-sans;
  }
}

@layer components {
  input {
    @apply bg-[#fcf5e5] border-[var(--dark-tan)] focus:border-[var(--golden-yellow)] focus:ring-2 focus:ring-[var(--soft-yellow)];
  }

  .btn-primary {
    @apply bg-[var(--deep-golden)] text-[var(--background)] px-4 py-2 rounded-md hover:bg-[var(--accent)] hover:text-[var(--background)] border-2 border-[var(--deep-golden)] hover:border-[var(--accent)] transition-colors;
  }

  .btn-link {
    @apply text-[var(--foreground)] hover:text-[var(--accent)] border-b-2 border-transparent hover:border-[var(--accent)] transition-colors;
  }
}
